@{
//ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Sigorta</h1>
    <p class="lead">Online olarak sigorta teklif alın. Firmalardan gelen teklifleri kıyaslayın. </p>
    <p><a href="/Home/GetOffer" class="btn btn-primary btn-lg">Teklif Al &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Yeni Teklif</h2>
        <p>
            Yeni teklifleri alın
        </p>
        <p><a class="btn btn-default" href="/Home/GetOffer">Teklif al &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tekliflerim</h2>
        <p>Geçmiş Telkiflerim</p>
        <p><a class="btn btn-default" href="/Home/OfferHistory">Gözat &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Firmalar</h2>
        <p>Teklif sunacak sağlayıcı firmalar</p>
        <p><a class="btn btn-default" href="/Company">Gözat &raquo;</a></p>
    </div>
</div>